.refresh-button {
  background-color: white; 
  border: none; 
  color: yellow;; 
  font-size: 18px;
  cursor: pointer; 
  transition: transform 0.5s ease-in-out;
}
  
.refresh-button:hover {
  color: #4CAF50;
  transform: rotate(360deg);
}
